<!DOCTYPE html>
<html>
    <head>
      <title>Página inicial</title> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap" rel="stylesheet">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <header>
            <a id="logo_superior">Mila </a>
            <button id='entrar'>
             ENTRAR
            </button>
        </header>
        <div id="center">  
            {{{body}}}
        </div>
        <footer> 
            <div id="identificação">
                <div id="especificação">
                    <a id="big">Mila </a>
                    <a id = 'small'>from</a>   
                    <img  id="logo_da_smiles" src="images/logo_smiles.png">
                </div>
                <div id ="redes_sociais">
                    <button class="botão_de_rede_social">
                        <img src= "images/facebook.svg">
                    </button>
                   
                    <button class="botão_de_rede_social">
                        <img src= "images/twitter.svg">
                    </button>

                    <button class="botão_de_rede_social">
                        <img src= "images/youtube.svg">
                    </button>

                    <button class="botão_de_rede_social">
                        <img src= "images/linkedin.svg">
                    </button>
                    
                    <button class="botão_de_rede_social">
                        <img src= "images/instagram.svg">
                    </button>
              </div>
            </div>
            <a class='infor' id="disclaimer">@2021 Mila from Smile. Todos os direitos reservados</a>
            <p class='info' id="contatos">Contatos:</p>
            <p class='info' id="numero">08000 777 7000</p>
        </footer> 
    </body>
</html>