<link rel="stylesheet" href="css/LandingPage.css">
<div id ="contedor_da_mila">
    <img id="mila" src="images/Mila.png">
</div>
<div id ="contedor_de_texto">
    <p class="grande">Olá!</p>
    <p class="grande">Eu sou a Mila,</p>
    <p class='menor'>sua assistente de viagens.</p>
    <p class="description">Estou aqui para lhe ajudar a organizar suas viagens enquanto você acumula milhas para viajar ainda mais.</p>
    <button id="Vamos_la">VAMOS LÁ?</button>
</div>